@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(#ecedf125 20%, #21232b37 30%, white 30%);
  background-position: 0 0;
  background-size: 20px 20px;
  height: 100%;
  width: 100%;
}

.buttonShadow {
  /* Première ombre portée (Drop shadow 1) */
  box-shadow: inset 0px -2.94px 0.74px 0px rgba(227, 227, 234, 0.4),
    0px 2.94px 5.88px -1.47px rgba(95, 95, 95, 0.15),
    0px 0px 0px 0.74px rgba(234, 236, 241, 0.1);
}
